<!-- {% extends 'base1.html' %}
{% load static %}
{% block title %}User Profile{% endblock %}
{% block content %}

<div class="row" id="assign">
    <div class="col-md-12">
      <h2>Update Profile</h2>
      <hr width="100%">
</div>
<div class="row">
    <div class="col-md-12">
        <form action="/updateprofile/{{tdetail.id}}" method="post">
            {% csrf_token %}
            <input type="hidden" name="Student_id" value="{{ user.id }}" /> 
                        <label class="fw-bold fs-5">First Name<span class="text-danger">*</span></label>
                        <input type="text" name="First_name"  value="{{ user.first_name }}" class="form-control" pattern="[A-Za-z]*" required/>
                        <label class="fw-bold fs-5">Last Name<span class="text-danger">*</span></label>
                        <input type="text" name="Last_name"  value="{{ user.last_name }}" class="form-control" pattern="[A-Za-z]*" required/>
                        
                        <label class="fw-bold fs-5">Email<span class="text-danger">*</span></label>
                        <input type="email" name="Email"  value="{{ user.email }}" class="form-control" required/>
                        <label class="fw-bold fs-5">Mobile</label>
                        <div class="input-group">
                            <span class="input-group-text">+91</span>
                            <input type="tel" class="form-control" name="Mobile" value="{{ tdetail.Mobile }}" maxlength="10" pattern="[6|7|8|9][0-9]{9}*" required />
                        </div>
                        <label class="fw-bold fs-5">Registration no.</label>
                        <input type="text" class="form-control" name="Registration_no"  value="{{ tdetail.Registration_no }}">
                        <div class="pt-4 ">
                        <button class="btn btn-danger">Update</button>
                        </div>
                    </form>
        </form>
    </div>
</div>
{% endblock %}  -->
